<div class="container">
    <div class="row">
        <div class="col-lg-9 mt-3">
            <h2 class="fw-bold">ADD CATEGORY</h2>
            <form action="/admin/addcategory" style="margin-top: 2em;" method="post"  >
                <div class="form-group">
                    <input type="text"  id="categoryname" class="form-control" name="categoryname" placeholder="categoryname *" value=""  />
                </div>
                 <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div> 