<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <h2 class="fw-bold">EDIT PRODUCTS</h2>
            <form action="/admin/editproduct" style="margin-top: 2em;" method="post"  enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text"  id="productname" class="form-control" name="productname" placeholder="Product Name *" value=""  />
                </div>
                <div class="form-group">
                    <select name="categoryname" class="form-control">
                        <option value="">select category</option>
                       
                            <option value="">hiii</option>
                            
                    </select>
                </div>
                <div class="form-group">
                    <select name="brandname" class="form-control">
                        <option value="">select brand</option>
                        
                            <option value="">nike</option>
                      
                    </select>
                </div>
                <div class="form-group">
                    <!-- <input type="text"  id="" class="form-control" name="description" placeholder="description*" value=""  /> -->
                    <textarea id="" class="form-control" name="description" placeholder="description*" value="" ></textarea>
                </div>
                <div class="form-group">
                    <input type="number"  id="" class="form-control" name="price" placeholder="price *" value=""  />
                </div>
                <div class="form-group">
                    <input type="number"  id="" class="form-control" name="quantity" placeholder="quantity *" value=""  />
                </div>
                 <div class="form-group">
                    <label for="image" class="form-label">Image</label>
                    <input type="file"  id="" class="form-control" name="image"  value=""  multiple/>
                </div>
                 <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div> 